# Virtual environments
.venv/
venv/
env/

# SQLite database file
gowallet.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files (if applicable)
.idea/
.vscode/

# Other common ignores
*.log
*.bak

# history of commands
listofcommands.txt
commands1.txt